<!-- подключаем шаблон страницы -->
{% extends 'base/menu.html' %}

<!-- Блок заглавия интернет страницы -->
{% block title %}
             {{ block.super }}
{% endblock %}

<!-- Блок заголовка страницы -->
{% block pagename %}
            {{ block.super }}
{% endblock %}

<!-- Блок меню -->
{% block content %}

<p style="text-indent: 50px;">
        Сегодня существует множество библиотек глубокого обучения. Ресурс, который бы охватывал одновременно значительную часть библиотек и различные критерии для их сравнения, в процессе исследования найден не был. На общедоступном ресурсе Wikipedia  рассмотрено 23 различных библиотеки по 16 общим критериям, 4 библиотеки по шести критериям совместимости и совсем не рассмотрены вопросы пользовательских особенностей, а целевые показатели (точности, аккуратности и т.п.) являются объектами различных исследований. Например, из общедоступных интернет ресурсов можно выделить следующие исследования:
<br>- Сравнение scikit-learn с другими библиотеками машинного обучения
<br>- 10 библиотек Python для машинного обучения — подборка для начинающих
</p>
<p style="text-indent: 50px;">
    Из научных статей стоит выделить: Обзор и сравнительный анализ библиотек машинного обучения для построения нейронных сетей.
Порядка 38 библиотек рассмотрено на Дзен  со своей особенной классификацией, которая носит характер общеобразовательного обзора, нежели специального.
Из зарубежного сегмента интернет стоит выделить статью «ML Engineer comparison of Pytorch, TensorFlow, JAX, and Flax»  в которой ценной является информация о популярности библиотек, и согласно которой, библиотека Pytorch лидирует относительно других, сключая TensorFlow, который находится на втором месте по популярности.
В обзоре PyTorch vs TensorFlow in 2025: A Comparative Guide of AI Frameworks  рассматриваются такие параметры как: простота использования, филоссофия дизайна, гибкость и масштабируемость, сообщество, поддержка и ресурсы обучения.
</p>
<p style="text-indent: 25px;">
    Из совокупноти всех рассмотренных ресурсов, в том числе представленных выше, можно условно выделить три группы показателей сравнения библиотек:
<br>- входные технические показатели (Technical Input Metrics);
<br>- выходные технически показатели (Technical Output Metrics);
<br>- пользовательские показатели (Users Metrics).
</p>
<p style="text-indent: 25px;">
    По входным техническим показателям библиотеки можно классифицировать по следующим признакам:
<br>- используемые (включаемые) модели машинного обучения;
<br>- доступность кода: открытый, или нет;
<br>- язык программирования: C++, Python, Java;
<br>- поддержка интерфейсов (OpenMP), фреймворков (OpenCL), платформ паралельных вычислений (CUDA), использование мощностей графических процессоров (ROCm);
<br>- поддерживаемые (используемые внутри) типы сетей: прямые, рекурентные, сверточные, глубокие нейронные сети;
<br>- поддержка (способность) различных форматов данных (численных, графических, аудио, видео).
</p>
<p>
    Вполне допустимо, что в представленной выше классификации отсутствуют не менее важные реквизиты или характеристики библиотек, но по степени полноты в рамках рассматриваемой темы, считаем, что представленной классификации достаточно. Более глубокое изучение способов классификации библиотек машинного обучения может стать предметом отдельного исследования.
</p>
<p style="text-indent: 25px;">
    К техническим выходным показателям можно отнести следующие:
<br>- эффективность модели (Model Efficiency);
<br>- достоверность (Accuracy);
<br>- полнота (Recall);
<br>- точность (Precision);
<br>- время отклика (Response Time).
</p>
<p style="text-indent: 25px;">
    Часть технических показателей являются областью детального исследования настоящей дипломной работы.
К пользовательским причислим следующие:
    <br>- способности проводить предварительную и постобработку данных (да, нет);
    <br>- наличию общей платформы (есть, нет);
    <br>- поддержку и наличие комьюнити (есть, нет);
    <br>- порог вхождения (низкий, средний, высокий).
</p><p>

        </p><p>

        </p>
{% endblock %}

{% block footer %}

{% endblock %}
