<!-- подключаем шаблон страницы -->
{% extends 'base/menu.html' %}

<!-- Блок заглавия интернет страницы -->
{% block title %}
             {{ block.super }}
{% endblock %}

<!-- Блок заголовка страницы -->
{% block pagename %}
            {{ block.super }}
{% endblock %}


<!-- Блок меню -->
{% block content %}

        <p>
            Добро пожаловать {{username}} на главную страницу проекта сайта, посвященого тематике машинного обучения.
        </p>
        <p>
        В настоящий момент на сайте опубликована инфомрация
            только по сравнению трех библиотек для машинного обучения: scikit-learn, TensorFlow и PyTorch.
        </p>
        <p>
            Приведены ссыли на татасеты, а также на ресурс GoogleColab, где в отврытом доступе размещены файлы
            с кодами программ провдения самостоятельных расчетов.
        </p>
        <p>
        В размещенных моделях коды содержат параметры настройки этих моделей,
            так что варируя ими пользователь может провести самостоятельнй анализ непосредствено кода
            и резултатов расчета с использованием выбранной библиотеки.
        </p>

{% endblock %}

{% block footer %}

<button onclick="document.location='/django_sign_up'">
                Регистрация
            </button>

{% endblock %}
